<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Reservation</title>
</head>
<body>
    <h1>Select Reservation</h1>
    <ul>
        <li>
            <a href="{% url 'add_reservation' %}?user_id=1&accommodation_id=3">
                User ID 1 Add Reservation of Accommodation ID 2
            </a>
        </li>
        <li>
            <a href="{% url 'add_reservation' %}?user_id=2&accommodation_id=3">
                User ID 2 Add Reservation of Accommodation ID 2
            </a>
        </li>
    </ul>
</body>
</html>